mixin img(path)
  img(src="#{path_to_root + path}")

mixin css(path)
  link(type='text/css', rel='stylesheet', media='screen', href='#{path_to_root + path}')

mixin css-ext(http_path)
  link(type='text/css', rel='stylesheet', media='screen', href='#{http_path}')

mixin js(path)
  script(type='text/javascript', src="#{path_to_root + path}")

mixin js-require(path, require_path)
  script(type='text/javascript', data-main="#{path_to_root + path}", src="#{path_to_root + require_path}")

mixin parallax(path)
  .parallax(style="background-image: url('#{path_to_root + path}')")
    if block
      block

mixin link_to(path)
  a(href="#{path_to_root + path}")
    if block
      block
    else
      = path_to_root + path

mixin toc(chapters)
  ul
    each chapter in chapters
      - function isActive() { return (url == chapter.url) ? "active" : false }
      li(class=isActive())
        +link_to(chapter.url)= chapter.fm.title
        if chapter.children && chapter.children.length
          +toc(chapter.children)

mixin redirect_home()
  - function get_first_page(child) {
  -   if (child.children && child.children.length) {
  -     return get_first_page(child.children[0]);
  -   } else {
  -     return child.url
  -   }
  - }
  - var firstPageUrl = path_to_root + get_first_page(toc[0]);
  script.
    window.location = "#{firstPageUrl}"

mixin youtube(url)
  .video
    iframe(src="https://www.youtube.com/embed/#{url}?rel=0", frameborder="0", allowfullscreen)

mixin vimeo(url)
  .video
    iframe(src="//player.vimeo.com/video/#{url}?rel=0", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)

//- Bootstrap modal mixin.
mixin modal(id, title)
  div.modal(id="#{id}", tabindex='-1', role='dialog', aria-labelledby='#{id}-label', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4.modal-title= title
        .modal-body
          if block
            block
          else
            p.text-danger You forgot to add content to the modal. Like this:
            pre.
              //- the button to open the modal
              .btn(href="#my-modal", data-toggle="modal")
              
              //- the actual modal
              +modal("my-modal", "A title")
                p Content.

