mixin article(title, subtitle)
  - if (!self) { locals.title = title; locals.subtitle = subtitle; }
  article
    block

mixin section(title)
  - if (!self) { locals.sections = locals.sections || []; locals.sections.push(title); }
  section
    block

mixin img(path)
  img(src="#{path}")

mixin parallax(path)
  .parallax(style="background-image: url('#{path}')")
    if block
      block

mixin link_to(path)
  a(href="#{path}")
    if block
      block
    else
      = path

mixin widget(path)
  iframe(src="#{path}")

mixin toc(chapters)
  ul
    each chapter in chapters
      li
        - if (chapter.locals.subtitle)
          a.subtitled(href="#book/#{chapter.url}")
            span.title= chapter.locals.title
            span.subtitle= chapter.locals.subtitle
        - else
          a(href="#book/#{chapter.url}")
            span.title= chapter.locals.title
        if chapter.children && chapter.children.length
          +toc(chapter.children)

mixin youtube(url)
  .video
    iframe(src="https://www.youtube.com/embed/#{url}?rel=0", frameborder="0", allowfullscreen)

mixin vimeo(url)
  .video
    iframe(src="//player.vimeo.com/video/#{url}?rel=0", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)

mixin cloudfront(server, name)
  .video
    video(controls, preload="auto", poster="http://#{server}.cloudfront.net/#{name}.png")
      source(src="http://#{server}.cloudfront.net/#{name}.mp4")

//- Bootstrap modal mixin.
mixin modal(id, title)
  div.modal(id="#{id}", tabindex='-1', role='dialog', aria-labelledby='#{id}-label', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4.modal-title= title
        .modal-body
          if block
            block
          else
            p.text-danger You forgot to add content to the modal. Like this:
            pre.
              //- the button to open the modal
              .btn(href="#my-modal", data-toggle="modal")
              
              //- the actual modal
              +modal("my-modal", "A title")
                p Content.

