mixin toc(chapters)
  ul.tableofcontents
    each chapter in chapters
      li.fold(data-url="#{chapter.url}")
        - var hasChildren = (chapter.children && chapter.children.length);
        - var noContent = chapter.locals.noContent;
        - var chapterUrl = noContent ? undefined : ('#book/' + chapter.url);
        - var linkClasses = [];
        - if (hasChildren) { linkClasses.push('foldable') };
        - if (noContent) { linkClasses.push('no-content') };
        - linkClasses = linkClasses.join(' ');

        if chapter.locals.subtitle
          a.subtitled(href=chapterUrl, class=linkClasses, title=chapter.locals.title)
            span.title!= chapter.locals.title
            span.subtitle= chapter.locals.subtitle
        else
          a(href=chapterUrl, class=linkClasses, title=chapter.locals.title)
            span.title
              != chapter.locals.title
        if hasChildren
          .fold-button
            i.fold-icon.fa.fa-fw.fa-chevron-down
          .children-container
            +toc(chapter.children)
