doctype html
html(lang=book.language, dir=book.textDirection)
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

    title= book.title

    each file in vendorCSSFiles
      link(type='text/css', rel='stylesheet', href=file)

    each file in mainCSSFiles
      link(type='text/css', rel='stylesheet', href=file)

  body
    script
      include ./lfa-require.js

    if debug
      script(src=currentBundle + '-vendor.js')
      script(src=currentBundle + '-main.js')

    each file in jsFiles
      script(src=file)

    script.
      __lfa_check_patches__();
      __lfa_autorun__();
