//-Initial plan:

//-doctype html
//-html
  //-head
    //-//- Classic
    //-meta(charset="utf-8")
    //-title= title
    //-meta(http-equiv="X-UA-Compatible", content="IE=edge")
    //-meta(name="description", content= description)
    //-meta(name="keywords", content= keywords.join(', '))
    //-//- Hide Safari's bars
    //-meta(name="apple-mobile-web-app-capable", content="yes")
    //-meta(name="apple-mobile-web-app-status-bar-style", content="black")
    //-meta(name="viewport", content="width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no, minimal-ui")
    //-//- Google
    //-meta(name="google", content="notranslate")
    //-//- Our CSS
    //-link(rel="stylesheet", href="main.css")
  //-body
    //-//- Our JS
    //-script(src="main.js")

//- Old template:
doctype html
html(lang=book.language, dir=book.textDirection)
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui")

    title= book.title
    
    link(type='text/css', rel='stylesheet', media='screen', href='main.css')
  body
    .menu
      .menu-item.menu-item-left#leftbar-toggle: i.fa.fa-bars.fa-fw.menu-item-contents
      .menu-item.menu-item-right#rightbar-toggle: i.fa.fa-question.fa-fw.menu-item-contents
    .navigation-menu
      a.menu-item.menu-item-left#previous-chapter: i.fa.fa-chevron-left.menu-item-contents
      a.menu-item.menu-item-right#next-chapter: i.fa.fa-chevron-right.menu-item-contents
    
    nav#leftbar
      //- this will be done on runtime
      //- +toc(toc)
    
    #scrollview
      section.container
        #content.row
          #textbook.col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
            article
              section
                p If you're seeing this, either you have to wait for things to finish loading, or something went wrong.

    
    aside#rightbar
      p.text-center Nothing here yet.

    script(src="index.js")
